node_modules/
.env
data/site-content.json
data/*.local.json
npm-debug.log*
public/uploads/docs/*
public/uploads/images/*
public/uploads/videos/*
!public/uploads/docs/.gitkeep
!public/uploads/images/.gitkeep
!public/uploads/videos/.gitkeep

.env.local
dist/
build/
.DS_Store
old_v/
*.log
*.encoding-backup
data/site-content (*).json
